<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>allthethings-1414024836</string>
		<key>pattern</key>
		<string>(allthethings)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>android-1414024011</string>
		<key>pattern</key>
		<string>(android)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>areyoukiddingme-1414024355</string>
		<key>pattern</key>
		<string>(areyoukiddingme)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>arrington-1414023805</string>
		<key>pattern</key>
		<string>(arrington)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>arya-1414028821</string>
		<key>pattern</key>
		<string>(arya)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>ashton-1414025136</string>
		<key>pattern</key>
		<string>(ashton)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>atlassian-1505837881</string>
		<key>pattern</key>
		<string>(atlassian)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>awesome-1417754492</string>
		<key>pattern</key>
		<string>(awesome)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>awthanks-1414025485</string>
		<key>pattern</key>
		<string>(awthanks)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>aww-1417754503</string>
		<key>pattern</key>
		<string>(aww)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>awwyiss-1417754513</string>
		<key>pattern</key>
		<string>(awwyiss)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>awyeah-1417750835</string>
		<key>pattern</key>
		<string>(awyeah)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>badass-1417750950</string>
		<key>pattern</key>
		<string>(badass)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>badjokeeel-1417751014</string>
		<key>pattern</key>
		<string>(badjokeeel)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>badpokerface-1414089953</string>
		<key>pattern</key>
		<string>(badpokerface)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>badtime-1417754523</string>
		<key>pattern</key>
		<string>(badtime)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>bamboo-1505837966</string>
		<key>pattern</key>
		<string>(bamboo)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>jpg</string>
		<key>image</key>
		<string>ban-1466106001</string>
		<key>pattern</key>
		<string>(ban)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>gif</string>
		<key>image</key>
		<string>banks-1461790674</string>
		<key>pattern</key>
		<string>(banks)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>basket-1414023854</string>
		<key>pattern</key>
		<string>(basket)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>beer-1414022661</string>
		<key>pattern</key>
		<string>(beer)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>bicepleft-1417754567</string>
		<key>pattern</key>
		<string>(bicepleft)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>bicepright-1417754576</string>
		<key>pattern</key>
		<string>(bicepright)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>bitbucket-1505837984</string>
		<key>pattern</key>
		<string>(bitbucket)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>gif</string>
		<key>image</key>
		<string>boom-1414103101</string>
		<key>pattern</key>
		<string>(boom)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>borat-1417754598</string>
		<key>pattern</key>
		<string>(borat)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>branch-1414026601</string>
		<key>pattern</key>
		<string>(branch)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>bumble-1417751030</string>
		<key>pattern</key>
		<string>(bumble)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>bunny-1414023876</string>
		<key>pattern</key>
		<string>(bunny)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>cadbury-1414023926</string>
		<key>pattern</key>
		<string>(cadbury)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>cake-1414024030</string>
		<key>pattern</key>
		<string>(cake)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>cancer-1473442882</string>
		<key>pattern</key>
		<string>(cancer)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>candycorn-1414024689</string>
		<key>pattern</key>
		<string>(candycorn)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>carl-1417754606</string>
		<key>pattern</key>
		<string>(carl)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>caruso-1417751051</string>
		<key>pattern</key>
		<string>(caruso)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>catchemall-1417754614</string>
		<key>pattern</key>
		<string>(catchemall)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>ceilingcat-1414025417</string>
		<key>pattern</key>
		<string>(ceilingcat)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>gif</string>
		<key>image</key>
		<string>celeryman-1418247558</string>
		<key>pattern</key>
		<string>(celeryman)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>cereal-1414023343</string>
		<key>pattern</key>
		<string>(cereal)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>cerealspit-1414026180</string>
		<key>pattern</key>
		<string>(cerealspit)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>challengeaccepted-1417751095</string>
		<key>pattern</key>
		<string>(challengeaccepted)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>chef-1417754621</string>
		<key>pattern</key>
		<string>(chef)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>chewie-1417751139</string>
		<key>pattern</key>
		<string>(chewie)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>chocobunny-1414023949</string>
		<key>pattern</key>
		<string>(chocobunny)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>gif</string>
		<key>image</key>
		<string>chompy-1414025208</string>
		<key>pattern</key>
		<string>(chompy)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>chucknorris-1417751159</string>
		<key>pattern</key>
		<string>(chucknorris)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>clarence-1417751942</string>
		<key>pattern</key>
		<string>(clarence)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>coffee-1414375635</string>
		<key>pattern</key>
		<string>(coffee)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>confluence-1505838002</string>
		<key>pattern</key>
		<string>(confluence)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>content-1414023392</string>
		<key>pattern</key>
		<string>(content)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>continue-1414026510</string>
		<key>pattern</key>
		<string>(continue)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>cookie-1417754631</string>
		<key>pattern</key>
		<string>(cookie)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>cornelius-1414022924</string>
		<key>pattern</key>
		<string>(cornelius)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>corpsethumb-1417754640</string>
		<key>pattern</key>
		<string>(corpsethumb)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>crucible-1505838025</string>
		<key>pattern</key>
		<string>(crucible)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>daenerys-1414028947</string>
		<key>pattern</key>
		<string>(daenerys)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>gif</string>
		<key>image</key>
		<string>dance-1414025267</string>
		<key>pattern</key>
		<string>(dance)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>gif</string>
		<key>image</key>
		<string>dealwithit-1414024955</string>
		<key>pattern</key>
		<string>(dealwithit)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>derp-1417751963</string>
		<key>pattern</key>
		<string>(derp)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>gif</string>
		<key>image</key>
		<string>disappear-1417754650</string>
		<key>pattern</key>
		<string>(disappear)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>disapproval-1414024448</string>
		<key>pattern</key>
		<string>(disapproval)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>doge-1414029048</string>
		<key>pattern</key>
		<string>(doge)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>doh-1417755734</string>
		<key>pattern</key>
		<string>(doh)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>donotwant-1417755746</string>
		<key>pattern</key>
		<string>(donotwant)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>dosequis-1414024105</string>
		<key>pattern</key>
		<string>(dosequis)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>downvote-1417755753</string>
		<key>pattern</key>
		<string>(downvote)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>drevil-1414025327</string>
		<key>pattern</key>
		<string>(drevil)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>drool-1417755763</string>
		<key>pattern</key>
		<string>(drool)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>ducreux-1414023991</string>
		<key>pattern</key>
		<string>(ducreux)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>dumb-1417751988</string>
		<key>pattern</key>
		<string>(dumb)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>dwaboutit-1448505588</string>
		<key>pattern</key>
		<string>(dwaboutit)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>evilburns-1417755772</string>
		<key>pattern</key>
		<string>(evilburns)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>excellent-1417755785</string>
		<key>pattern</key>
		<string>(excellent)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>facepalm-1417752010</string>
		<key>pattern</key>
		<string>(facepalm)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>failed-1414026532</string>
		<key>pattern</key>
		<string>(failed)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>feelsbadman-1475680700</string>
		<key>pattern</key>
		<string>(feelsbadman)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>feelsgoodman-1475680733</string>
		<key>pattern</key>
		<string>(feelsgoodman)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>finn-1417755835</string>
		<key>pattern</key>
		<string>(finn)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>gif</string>
		<key>image</key>
		<string>fireworks-1420575887</string>
		<key>pattern</key>
		<string>(fireworks)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>fisheye-1505838042</string>
		<key>pattern</key>
		<string>(fisheye)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>fonzie-1417752102</string>
		<key>pattern</key>
		<string>(fonzie)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>foreveralone-1414023140</string>
		<key>pattern</key>
		<string>(foreveralone)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>forscale-1428536097</string>
		<key>pattern</key>
		<string>(forscale)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>freddie-1417752152</string>
		<key>pattern</key>
		<string>(freddie)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>fry-1414025241</string>
		<key>pattern</key>
		<string>(fry)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>ftfy-1417755844</string>
		<key>pattern</key>
		<string>(ftfy)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>fu-1414023026</string>
		<key>pattern</key>
		<string>(fu)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>fuckyeah-1414023828</string>
		<key>pattern</key>
		<string>(fuckyeah)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>fwp-1414025600</string>
		<key>pattern</key>
		<string>(fwp)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>gif</string>
		<key>image</key>
		<string>gangnamstyle-1417752182</string>
		<key>pattern</key>
		<string>(gangnamstyle)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>gates-1417752311</string>
		<key>pattern</key>
		<string>(gates)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>ghost-1414024665</string>
		<key>pattern</key>
		<string>(ghost)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>giggity-1417755851</string>
		<key>pattern</key>
		<string>(giggity)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>goldstar-1417755861</string>
		<key>pattern</key>
		<string>(goldstar)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>goodnews-1417752451</string>
		<key>pattern</key>
		<string>(goodnews)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>greenbeer-1414023735</string>
		<key>pattern</key>
		<string>(greenbeer)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>grumpycat-1414026366</string>
		<key>pattern</key>
		<string>(grumpycat)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>gtfo-1506108014</string>
		<key>pattern</key>
		<string>(gtfo)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>haha-1417755876</string>
		<key>pattern</key>
		<string>(haha)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>haveaseat-1417752572</string>
		<key>pattern</key>
		<string>(haveaseat)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>heart-1417752586</string>
		<key>pattern</key>
		<string>(heart)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>heygirl-1413684451</string>
		<key>pattern</key>
		<string>(heygirl)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>hipchat-1505836539</string>
		<key>pattern</key>
		<string>(hipchat)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>hipster-1414025113</string>
		<key>pattern</key>
		<string>(hipster)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>hodor-1414028801</string>
		<key>pattern</key>
		<string>(hodor)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>huehue-1417755882</string>
		<key>pattern</key>
		<string>(huehue)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>hugefan-1417755893</string>
		<key>pattern</key>
		<string>(hugefan)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>huh-1414026942</string>
		<key>pattern</key>
		<string>(huh)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>ilied-1417752608</string>
		<key>pattern</key>
		<string>(ilied)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>indeed-1417752694</string>
		<key>pattern</key>
		<string>(indeed)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>iseewhatyoudidthere-1414026019</string>
		<key>pattern</key>
		<string>(iseewhatyoudidthere)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>itsatrap-1417752711</string>
		<key>pattern</key>
		<string>(itsatrap)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>jackie-1417752827</string>
		<key>pattern</key>
		<string>(jackie)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>jaime-1414028872</string>
		<key>pattern</key>
		<string>(jaime)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>jake-1417807978</string>
		<key>pattern</key>
		<string>(jake)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>jira-1505838060</string>
		<key>pattern</key>
		<string>(jira)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>jobs-1417752336</string>
		<key>pattern</key>
		<string>(jobs)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>joffrey-1417760026</string>
		<key>pattern</key>
		<string>(joffrey)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>jonsnow-1414028921</string>
		<key>pattern</key>
		<string>(jonsnow)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>kennypowers-1506107973</string>
		<key>pattern</key>
		<string>(kennypowers)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>krang-1417752938</string>
		<key>pattern</key>
		<string>(krang)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>kwanzaa-1414022870</string>
		<key>pattern</key>
		<string>(kwanzaa)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>lincoln-1417752959</string>
		<key>pattern</key>
		<string>(lincoln)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>lol-1414023491</string>
		<key>pattern</key>
		<string>(lol)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>lolwut-1417753079</string>
		<key>pattern</key>
		<string>(lolwut)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>megusta-1414023519</string>
		<key>pattern</key>
		<string>(megusta)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>meh-1417755922</string>
		<key>pattern</key>
		<string>(meh)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>menorah-1414022898</string>
		<key>pattern</key>
		<string>(menorah)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>gif</string>
		<key>image</key>
		<string>mindblown-1414029295</string>
		<key>pattern</key>
		<string>(mindblown)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>gif</string>
		<key>image</key>
		<string>motherofgod-1417755937</string>
		<key>pattern</key>
		<string>(motherofgod)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>ned-1414028897</string>
		<key>pattern</key>
		<string>(ned)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>nextgendev-1414028778</string>
		<key>pattern</key>
		<string>(nextgendev)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>nice-1417756761</string>
		<key>pattern</key>
		<string>(nice)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>ninja-1414025554</string>
		<key>pattern</key>
		<string>(ninja)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>noidea-1417756770</string>
		<key>pattern</key>
		<string>(noidea)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>notbad-1417754112</string>
		<key>pattern</key>
		<string>(notbad)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>nothingtodohere-1414025069</string>
		<key>pattern</key>
		<string>(nothingtodohere)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>notit-1417756777</string>
		<key>pattern</key>
		<string>(notit)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>notsureif-1417754143</string>
		<key>pattern</key>
		<string>(notsureif)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>notsureifgusta-1414025677</string>
		<key>pattern</key>
		<string>(notsureifgusta)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>obama-1414026271</string>
		<key>pattern</key>
		<string>(obama)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>ohcrap-1414023779</string>
		<key>pattern</key>
		<string>(ohcrap)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>ohgodwhy-1414025393</string>
		<key>pattern</key>
		<string>(ohgodwhy)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>ohmy-1417756786</string>
		<key>pattern</key>
		<string>(ohmy)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>okay-1414023544</string>
		<key>pattern</key>
		<string>(okay)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>omg-1414023574</string>
		<key>pattern</key>
		<string>(omg)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>orly-1414025090</string>
		<key>pattern</key>
		<string>(orly)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>paddlin-1417756794</string>
		<key>pattern</key>
		<string>(paddlin)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>pbr-1414024081</string>
		<key>pattern</key>
		<string>(pbr)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>philosoraptor-1417754200</string>
		<key>pattern</key>
		<string>(philosoraptor)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>pingpong-1414025441</string>
		<key>pattern</key>
		<string>(pingpong)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>pinkribbon-1473443004</string>
		<key>pattern</key>
		<string>(pinkribbon)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>pirate-1413932391</string>
		<key>pattern</key>
		<string>(pirate)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>pokerface-1414090721</string>
		<key>pattern</key>
		<string>(pokerface)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>poo-1413932426</string>
		<key>pattern</key>
		<string>(poo)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>present-1417754218</string>
		<key>pattern</key>
		<string>(present)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>pride-1435338809</string>
		<key>pattern</key>
		<string>(pride)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>pumpkin-1414024641</string>
		<key>pattern</key>
		<string>(pumpkin)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>rageguy-1414022976</string>
		<key>pattern</key>
		<string>(rageguy)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>rainicorn-1417807924</string>
		<key>pattern</key>
		<string>(rainicorn)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>rebeccablack-1414024054</string>
		<key>pattern</key>
		<string>(rebeccablack)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>reddit-1417754241</string>
		<key>pattern</key>
		<string>(reddit)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>gif</string>
		<key>image</key>
		<string>rockon-1417756812</string>
		<key>pattern</key>
		<string>(rockon)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>romney-1417754260</string>
		<key>pattern</key>
		<string>(romney)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>rudolph-1414022810</string>
		<key>pattern</key>
		<string>(rudolph)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>sadpanda-1417754292</string>
		<key>pattern</key>
		<string>(sadpanda)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>sadtroll-1414023623</string>
		<key>pattern</key>
		<string>(sadtroll)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>salute-1417756826</string>
		<key>pattern</key>
		<string>(salute)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>samuel-1417754316</string>
		<key>pattern</key>
		<string>(samuel)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>santa-1414022839</string>
		<key>pattern</key>
		<string>(santa)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>sap-1417756835</string>
		<key>pattern</key>
		<string>(sap)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>scumbag-1413684123</string>
		<key>pattern</key>
		<string>(scumbag)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>seomoz-1414023675</string>
		<key>pattern</key>
		<string>(seomoz)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>shamrock-1414023710</string>
		<key>pattern</key>
		<string>(shamrock)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>shrug-1414032234</string>
		<key>pattern</key>
		<string>(shrug)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>skyrim-1417754336</string>
		<key>pattern</key>
		<string>(skyrim)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>sourcetree-1505838096</string>
		<key>pattern</key>
		<string>(sourcetree)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>gif</string>
		<key>image</key>
		<string>standup-1417756844</string>
		<key>pattern</key>
		<string>(standup)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>stare-1414024815</string>
		<key>pattern</key>
		<string>(stare)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>stash-1431522460</string>
		<key>pattern</key>
		<string>(stash)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>statuspage-1505838119</string>
		<key>pattern</key>
		<string>(statuspage)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>stride-1505836631</string>
		<key>pattern</key>
		<string>(stride)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>success-1414025948</string>
		<key>pattern</key>
		<string>(success)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>successful-1414026553</string>
		<key>pattern</key>
		<string>(successful)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>sweetjesus-1417754353</string>
		<key>pattern</key>
		<string>(sweetjesus)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>tableflip-1414031937</string>
		<key>pattern</key>
		<string>(tableflip)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>taco-1417756862</string>
		<key>pattern</key>
		<string>(taco)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>taft-1417754373</string>
		<key>pattern</key>
		<string>(taft)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>tea-1414025463</string>
		<key>pattern</key>
		<string>(tea)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>thatthing-1417756953</string>
		<key>pattern</key>
		<string>(thatthing)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>theyregreat-1417756964</string>
		<key>pattern</key>
		<string>(theyregreat)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>tree-1414022753</string>
		<key>pattern</key>
		<string>(tree)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>trello-1483998789</string>
		<key>pattern</key>
		<string>(trello)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>trellotaco-1483998705</string>
		<key>pattern</key>
		<string>(trellotaco)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>troll-1414023002</string>
		<key>pattern</key>
		<string>(troll)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>truestory-1413920318</string>
		<key>pattern</key>
		<string>(truestory)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>trump-1414026327</string>
		<key>pattern</key>
		<string>(trump)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>turkey-1414028694</string>
		<key>pattern</key>
		<string>(turkey)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>twss-1417754388</string>
		<key>pattern</key>
		<string>(twss)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>tyrion-1414028850</string>
		<key>pattern</key>
		<string>(tyrion)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>tywin-1414028997</string>
		<key>pattern</key>
		<string>(tywin)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>unacceptable-1417756981</string>
		<key>pattern</key>
		<string>(unacceptable)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>unknown-1414026584</string>
		<key>pattern</key>
		<string>(unknown)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>upvote-1417756989</string>
		<key>pattern</key>
		<string>(upvote)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>vote-1415153517</string>
		<key>pattern</key>
		<string>(vote)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>gif</string>
		<key>image</key>
		<string>waiting-1417756997</string>
		<key>pattern</key>
		<string>(waiting)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>washington-1414023164</string>
		<key>pattern</key>
		<string>(washington)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>wat-1414024905</string>
		<key>pattern</key>
		<string>(wat)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>whoa-1417757013</string>
		<key>pattern</key>
		<string>(whoa)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>gif</string>
		<key>image</key>
		<string>whynotboth-1414029073</string>
		<key>pattern</key>
		<string>(whynotboth)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>wtf-1417754405</string>
		<key>pattern</key>
		<string>(wtf)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>yey-1414023049</string>
		<key>pattern</key>
		<string>(yey)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>yodawg-1417754419</string>
		<key>pattern</key>
		<string>(yodawg)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>youdontsay-1417757028</string>
		<key>pattern</key>
		<string>(youdontsay)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>gif</string>
		<key>image</key>
		<string>yougotitdude-1414026430</string>
		<key>pattern</key>
		<string>(yougotitdude)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>yuno-1417754433</string>
		<key>pattern</key>
		<string>(yuno)</string>
	</dict>
	<dict>
		<key>fileExtension</key>
		<string>png</string>
		<key>image</key>
		<string>zoidberg-1417754444</string>
		<key>pattern</key>
		<string>(zoidberg)</string>
	</dict>
</array>
</plist>
